node_modules/
.expo/
dist/
web-build/
coverage/
expo-env.d.ts
*.tsbuildinfo

/android/
/ios/

*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
credentials.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env*.local
